.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  font-size: var(--grand-title-text-size);
  color: var(--footer-title-color);
  text-shadow: var(--footer-title-shadow);
}
