/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg-color: var(--color-black);
  --highlighted-bg-color: var(--color-pink);
  --highlighted-title-text-color: var(--color-black);
  --page-bg-img: url("../images/cover-image-dark.png");
  --header-decoration-color: var(--color-pink);
  --header-text-color: var(--color-pink);
  --header-button-border_hover: 1px solid rgb(255, 0, 112, 0.4);
  --border-buttun-color: var(--color-pink);
  --header-title-text-color: var(--color-purple);
  --header-title-shadow: 4px 4px var(--color-pink);
  --section-title-color: var(--color-pink);
  --card-title-color: var(--color-black);
  --card-title-bg-color: var(--color-pink);
  --card-text-color: var(--color-light-pink);
  --link-shadow: 2px 2px var(--color-pink);
  --footer-title-color: var(--color-purple);
  --footer-title-shadow: 2px 2px var(--color-pink);
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg-color: var(--color-black);
    --highlighted-bg-color: var(--color-pink);
    --highlighted-title-text-color: var(--color-black);
    --page-bg-img: url("../images/cover-image-dark.png");
    --header-decoration-color: var(--color-pink);
    --header-text-color: var(--color-pink);
    --header-button-border_hover: 1px solid rgb(255, 0, 112, 0.4);
    --border-buttun-color: var(--color-pink);
    --header-title-text-color: var(--color-purple);
    --header-title-shadow: 4px 4px var(--color-pink);
    --section-title-color: var(--color-pink);
    --card-title-color: var(--color-black);
    --card-title-bg-color: var(--color-pink);
    --card-text-color: var(--color-light-pink);
    --link-shadow: 2px 2px var(--color-pink);
    --footer-title-color: var(--color-purple);
    --footer-title-shadow: 2px 2px var(--color-pink);
  }

  .decoration_word {
    display: inline-block;
  }

  .decoration_word::after {
    display: inline-block;
  }
}

.theme-dark .decoration_word {
  display: inline-block;
}

.theme-dark .decoration_word::after {
  display: inline-block;
}