:root {
  --color-black: #000028;
  --color-pink: #ff0070;
  --color-purple: #db00ff;
  --color-light-pink: #f1b2ce;

  --color-lavender-white: #fff1f7;
  --color-princess-perfume-pink: #ff8dcb;
  --color-gray: #353430;
  --color-rose-pink: #ffc2e6;
}
